<div class="container">
    <h2>LOGIN</h2>
    <div class="wrapper">
        <form [formGroup]="loginForm">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Enter email" type="email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" placeholder="Enter password" type="password">
            </mat-form-field>
        </form>
        <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="saveData()">Sing in</button>
        <a class="login" [routerLink]="'/sing-in'">Don't have account</a>
    </div>
</div>

