.container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  height: 100%;
  flex-direction: column;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5c389c;
    padding: 10px 40px;

    a {
      color: #ffd740;
    }
  }

  .movies-container {
    padding: 0 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .movie {
      width: 280px;
      border: 1px solid #673ab7;
      border-radius: 5px;
      cursor: pointer;
      margin: 16px;

      &:hover h3 {
        opacity: 50%;
      }

      h3 {
        padding:8px;
        margin: 0;
        background-color: #ffd740;
        color: #5c389c;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      p {
        color: black;
        padding: 10px;
        font-size: 14px;
        max-height: 68px;
        overflow: auto;
      }
    }

  }
}

.sidenav {
  width: 200px;
  background-color: #673ab7;

  p {
    font-size: 16px;
    color: #b38d00;
    margin: 20px 0;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: block;
      padding: 6px 12px;
      cursor: pointer;
      font-size: 14px;
      color: #ffd740;

      &:hover {
        background-color: #ffd74042;
      }
    }

    .active {
      color: purple;
      font-weight: bold;
    }
  }
}
