<div class="container">
    <nav>
        <a *ngIf="!currentUser" class="login" [routerLink]="'/login'">Login</a>
        <button class="categories" mat-flat-button color="primary" [matMenuTriggerFor]="menu">
            CATEGORIES
        </button>
        <mat-menu #menu="matMenu">
            <button class="category" mat-menu-item [class.active]="activeCategory === category.id"
                    *ngFor="let category of categories" (click)="filterMovies(category.id)">{{category.name}}
            </button>
        </mat-menu>
    </nav>

  <div class="movies-wrapper">
    <div class="movies-container">
        <ng-container *ngFor="let movie of movies | filter:activeCategory">
            <div class="movie" [routerLink]="['/movie-details/', movie?.id]">
                <h3>{{movie.name}}</h3>
                <p>{{movie.description}}</p>
            </div>
        </ng-container>
    </div>
  </div>
</div>

