.container {
  width: 100%;
  height: calc(100vh - 12px);
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid #114354;
  overflow: hidden;

  nav {
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #114354;

    .categories {
      padding: 0 30px;
      margin-left: 20px;
    }

    a {
      color: #bfddde;
    }
  }

  .movies-wrapper {
    height: calc(100vh - 66px);
    overflow: auto;
    padding-bottom: 12px;

    .movies-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 12px;

      .movie {
        width: 280px;
        border: 1px solid #2a5a75;
        border-radius: 5px;
        cursor: pointer;
        margin: 16px;

        &:hover h3 {
          opacity: 50%;
        }

        h3 {
          padding: 10px;
          margin: 0;
          background-image: url('/assets/img/black-img.jpeg');
          color: #bfddde;
          font-weight: 700;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }

        p {
          color: #042434;
          padding: 10px;
          font-size: 14px;
          max-height: 68px;
          overflow: auto;
        }
      }
    }
  }
}

.category {
  width: 142px;
  color: #228693;

  &:hover {
    background-color: #114354;
  }
}

.category.active {
  color: #075061;
  font-weight: 700;
}


