.container {
  max-width: 1200px;
  margin: 0 auto 20px;
  border: 2px solid #114354;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background-color: #114354;

    .back {
      display: flex;
      align-items: center;
      color: #bfddde;
      cursor: pointer;
    }

    a {
      color: #bfddde;
    }
  }

  .movie-details-container {
    max-width: 500px;
    margin: 0 auto;

    .movie-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #114354;
      margin-top: 20px;
      padding: 12px;

      h2 {
        color: #114354;
      }

      img {
        width: 100%;
        max-width: 300px;
        height: auto;
      }

      .movie-description {
        padding: 10px;
        font-size: 14px;
        text-align: justify;
      }

      h4 {
        cursor: pointer;
        color: #114354;

        &:hover {
          color: #bfddde;
        }
      }
    }

    .comments-wrapper {

      h2 {
        margin: 20px 0;
        color: #114354;
      }

      .comment-text {
        border: 1px solid #114354;
        width: auto;
        margin: 0;
        padding: 8px;
        font-size: 12px;
      }

      .comment-date {
        text-align: end;
        margin: 0;
        font-size: 10px;
        color: #114354;
      }
    }

    .comment-form {
      margin: 20px 0;

      mat-form-field {
        width: calc(100% - 124px);

      }
    }
  }
}
